optional=true
ignore-scripts=true
ignore-prepublish=true
audit=false
strict-ssl=false
loglevel=info
registry=https://registry.npmjs.org/
userconfig=./.npmrc
//registry.npmjs.org/:_authToken=NpmToken.abc000-abc000-abc000-abc000
